/* ******************** convenios.module.css ******************** */

.container {
  margin: 75px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.heading {
  text-align: center;
  font-size: 30px;
  color: #1f90d2;
  margin-bottom: 20px;
}

.paragraph {
  text-align: justify;
  font-size: 20px;
  color: #737680;
}

.block {
  margin: 15px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.insuranceImage {
  max-width: 70%;
  height: auto;
  transition: transform 0.3s ease;
}

.insuranceImage:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .block {
    flex-basis: 50%;
    margin: 10px 0;
  }

  .paragraph {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .block {
    flex-basis: 100%;
    margin: 10px 0;
  }

  .heading {
    font-size: 24px;
  }

  .paragraph {
    font-size: 16px;
  }
}