.container {
  margin: 75px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.imageRow {
  margin-bottom: 15%;
}

.block {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.insuranceImage {
  max-width: 80%;
  height: auto;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.insuranceImage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
