.container {
  margin: 75px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.imageRow {
  margin-bottom: 15%;
}

.bannerSection {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 34%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 2;
}

.bannerContent {
  max-width: 800px;
  margin-right: 21%;
}

.bannerTitle {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.bannerSubtitle {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.bannerButton {
  padding: 12px 30px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #316fd8;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.bannerButton:hover {
  background-color: #265bb5;
  transform: scale(1.05);
}

.primaryTitle,
.secondaryTitle {
  text-align: center;
  font-weight: bold;
  color: #103182;
}

.paragraph {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1rem;
  color: #666;
}

.block {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.insuranceImage {
  max-width: 80%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.insuranceImage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
