/* ******************** unidades.module.css ******************** */

.container {
  margin: 75px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.unitsHeader {
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  font-size: 36px;
  color: #1f90d2;
}

.description {
  text-align: justify;
  font-size: 18px;
  color: #737680;
  margin-bottom: 30px;
  margin-top: 30px;
}

.unitsList {
  display: flex;
  flex-wrap: wrap;
}

.unitCard {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(50% - 30px);
}

.unitTitle {
  color: #1f90d2;
  font-size: 24px;
}

.unitImage {
  max-width: calc(100% - 20px);
  margin-top: 15px;
}

.unitAddress,
.unitPhone {
  display: inline-block;
  color: #737680;
  text-decoration: none;
}

.unitPhone:hover {
  color: #1f90d2;
  text-decoration: none;
}

.icon {
  color: #1f90d2;
  margin-right: 10px;
}

.imageAnimation {
  transition: transform .3s ease;
}

.imageAnimation:hover {
  transform: scale(1.05);
}

@media (max-width: 727px) {
  .unitCard {
    flex-basis: calc(100% - 30px);
    margin-bottom:20px;
  }
}