
.containerItem {
    margin-bottom: 15%;
}

.services {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.serviceItem {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.serviceItem:hover {
    transform: translateY(-10px);
}

.iconCircle {
    background-color: #103182;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.serviceIcon {
    font-size: 40px;
    color: #FFF;
}
