.bannerSection {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bannerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 1;
}

.bannerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 34%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
    z-index: 2;
}

.bannerContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.bannerTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}

.bannerSubtitle {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.bannerButton {
    padding: 12px 30px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #316fd8;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bannerButton:hover {
    background-color: #265bb5;
    transform: scale(1.05);
}

/* Telas grande computador/notebook */
@media only screen and (max-width: 1200px) {
    .bannerContent {
      margin: 0 10%;
    }
    .bannerTitle {
      font-size: 2.5rem;
    }
    .bannerSubtitle {
      font-size: 1.2rem;
    }
    .bannerButton {
      font-size: 1rem;
      padding: 10px 25px;
    }
}

/* Celular na horizontal e Tablet com tela grande */
@media only screen and (max-width: 992px) and (min-width: 769px) and (orientation: landscape) {
    .bannerSection {
        height: 450px;
    }
    .bannerTitle {
        font-size: 2rem;
    }
    .bannerSubtitle {
        font-size: 1rem;
    }
    .bannerButton {
        font-size: 0.9rem;
        padding: 8px 20px;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) and (orientation: landscape) {
    .bannerSection {
      height: 400px;
    }
    .bannerTitle {
      font-size: 1.8rem;
    }
    .bannerSubtitle {
      font-size: 0.9rem;
    }
    .bannerButton {
      font-size: 0.8rem;
      padding: 6px 15px;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .bannerSection {
        height: 400px;
    }
    .bannerTitle {
        font-size: 1.8rem;
    }
    .bannerSubtitle {
        font-size: 0.9rem;
    }
    .bannerButton {
        font-size: 0.8rem;
        padding: 6px 15px;
    }
}

/* Celular */
@media only screen and (max-width: 576px) and (orientation: landscape) {
    .bannerSection {
        height: 300px;
    }
    .bannerTitle {
        font-size: 1.5rem;
    }
    .bannerSubtitle {
        font-size: 0.8rem;
    }
    .bannerButton {
        font-size: 0.7rem;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
    .bannerSection {
        height: 300px;
    }
    .bannerTitle {
        font-size: 1.5rem;
    }
    .bannerSubtitle {
        font-size: 0.8rem;
    }
    .bannerButton {
        font-size: 0.7rem;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
    .bannerSection {
        height: 250px;
    }
    .bannerTitle {
        font-size: 1.2rem;
    }
    .bannerSubtitle {
        font-size: 0.7rem;
    }
    .bannerButton {
        font-size: 0.6rem;
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .bannerImage {
        top: -60px;
    }
    .bannerSection {
        height: 250px;
    }
    .bannerOverlay {
        top: -121px;
        padding: 117px 0 0 0;
    }
    .bannerContent {
        margin: 0px 92px 0px 0%;
        text-align: left;
    }
    .bannerTitle {
        font-size: 0.8rem;
        margin-bottom: 11px;
    }
    .bannerSubtitle {
        font-size: 0.6rem;
        margin-bottom: 3px;
    }
    .bannerButton {
        font-size: 0.4rem;
        padding: 4px 8px;
    }
}
