.waveStyle {
    width: 100%;
}

.installations {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 100px;
    margin-bottom: 15%;
}

.carouselImg {
    height: 250px;
    object-fit: cover;
    margin: 0 10px;
}

.text {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .carouselImg {
      height: 350px;
    }
}
