@import "~bootstrap/dist/css/bootstrap.min.css";

/******************* Header **********************/

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 222px;
    padding: 5px 0;
    margin-right: 190px;
}

.custom-navbar {
    background: #1f90d2;
}

/* Estilos para a marca da barra de navegação */
.custom-navbar .navbar-brand {
    margin-right: auto;
}

/* Estilos para os links de navegação */
.custom-navbar .nav-link {
    color: #ffffff;
    font-size: large;
    margin-right: 15px;
    position: relative;
}

/* Pseudo-elemento para a borda inferior dos links de navegação */
.custom-navbar .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #66cc66;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

/* Animação da borda inferior ao passar o mouse */
.custom-navbar .nav-link:hover::after,
.custom-navbar .nav-link.active::after {
    width: 100%;
}

/* Cor do texto ao passar o mouse */
.custom-navbar .nav-link:hover {
    color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;
}

.header-phone {
    background-color: rgba(10, 0, 0, 0.1);
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: auto;
    position: relative;
}

/* Ocultar o pseudo-elemento nos links do telefone */
.header-phone .nav-link::after {
    display: none;
}

.header-phone:hover {
    background-color: rgba(10, 0, 0, 0.3);
}

/* Alterando a cor do ícone da Navbar-toggler */
.custom-navbar .navbar-toggler-icon {
    color: #fff;
}

.navbar-toggler {
    line-height: 1;
    color: #fff;
    background-color: transparent;
    border: solid #fff 2px;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* Media query para dispositivos maiores que 800px */
@media (min-width: 800px) {
    .header-phone {
        margin-left: 0;
    }
}

/* Media query para dispositivos menores que 800px */
@media (max-width: 799px) {
    .custom-navbar .nav-link {
        margin-right: 0;
    }
}







/* ************************ Footer ******************************** */

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .footer-item, .footer-termo {
    margin-top: 20px;
  }

  .footer-item, .footer-telefone, .link, .footer-termo {
    color: #fff;
  }

  .footer-telefone {
    text-decoration: none;
  }

  .link {
    text-decoration: none;
  }

  /* Estilo base para os links no footer */
.footer-item .link {
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* Pseudo-elemento para a borda inferior dos links no footer */
.footer-item .link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #66cc66;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

/* Animação da borda inferior ao passar o mouse e quando ativo */
.footer-item .link:hover::after,
.footer-item .link:active::after {
    width: 100%;
}

/* Cor do texto ao passar o mouse */
.footer-item .link:hover,
.footer-item .link:active {
    color: #fff;
}


  .footer-item--social {
    text-align: center;
  }

  .footer-termo {
    text-align: center;
  }

  .footer-contato {
    display: flex;
    align-items: center;
  }

  .contato-icone {
    margin-right: 10px;
    font-size: 18px;
    margin-right: 8px;
  }

  .logo_branco {
    width: 250px;
  }

  footer {
    background-color: #1f90d2;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .recipiente {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens no centro */
    padding: 0;
    margin: 0;
  }



  .redes-sociais {
    font-size: 48px;
    padding: 0 10px;
    color: #fff;
  }

  @media (min-width: 1240px) {
    .recipiente {
        width: 1210px;
    }
  }

  @media only screen and (min-width: 800px) {
    footer .recipiente {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }

    .footer-item {
      padding: 10px;
    }

    .footer-item--social {
      text-align: left;
    }
  }






