/* ******************* HOME ******************* */

.container {
  margin-bottom: 2%
}

.fullWidthImage {
  position: relative;
  width: 100%;
}

.fullWidthImage img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.overlayLeft {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.bannerTitle {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

.bannerTitleLeft {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 18px;
  margin-left: 100px;
}

.bannerSubtitleLeft {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-left: 100px;
}

.bannerTextLeft {
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 10px;
}

.title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding-right: 5%;
}

/* Telas grande computador/notebook */
@media only screen and (max-width: 1200px) {
  .bannerTitleLeft {
    font-size: 1.8rem;
    margin-left: 32px;
  }

  .bannerSubtitleLeft {
    font-size: 1.8rem;
    margin-left: 32px;
  }

  .title {
    font-size: 2rem;
    padding-right: 5%;
  }
}

/* Celular na horizotal e Tablet com tela grande */
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .bannerTitleLeft {
    font-size: 1.4rem;
    margin-left: 32px;
  }

  .bannerSubtitleLeft {
    font-size: 1.4rem;
    margin-left: 32px;
  }

  .title {
    font-size: 1.8rem;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 992px) and (orientation: portrait) {
  .bannerTitleLeft {
    font-size: 1.4rem;
    margin-left: 32px;
  }

  .bannerSubtitleLeft {
    font-size: 1.4rem;
    margin-left: 32px;
  }

  .title {
    font-size: 1.8rem;
    padding-right: 5%;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .bannerTitleLeft {
    font-size: 1rem;
    margin-left: 20px;
  }

  .bannerSubtitleLeft {
    font-size: 1rem;
    margin-left: 20px;
  }

  .title {
    font-size: 1.5rem;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .bannerTitleLeft {
    font-size: 1.4rem;
    margin-left: 20px;
  }

  .bannerSubtitleLeft {
    font-size: 1.4rem;
    margin-left: 20px;
  }

  .title {
    font-size: 1.5rem;
    padding-right: 5%;
  }
}

/* Celular */
@media only screen and (max-width: 576px) and (orientation: landscape) {
  .bannerTitleLeft {
    font-size: 1.4rem;
    margin-left: 6px;
  }

  .bannerSubtitleLeft {
    font-size: 1.4rem;
    margin-left: 6px;
  }

  .title {
    font-size: 1.4rem;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .bannerTitleLeft {
    font-size: 1.4rem;
    margin-left: 6px;
  }

  .bannerSubtitleLeft {
    font-size: 1.4rem;
    margin-left: 6px;
  }

  .title {
    font-size: 1.4rem;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
  .bannerTitleLeft {
    font-size: 0.8rem;
    margin-left: 4px;
  }

  .bannerSubtitleLeft {
    font-size: 0.8rem;
    margin-left: 4px;
  }

  .title {
    font-size: 0.8rem;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .bannerTitleLeft {
    font-size: 0.8rem;
    margin-left: 4px;
  }

  .bannerSubtitleLeft {
    font-size: 0.8rem;
    margin-left: 4px;
  }

  .title {
    font-size: 0.8rem;
    padding-right: 0%;
  }
}
