.carouselContainer {
  margin-top: 15%;
}

.customCarousel {
  padding: 20px 40px;
}

.customCarousel .carousel-inner {
  display: flex;
  justify-content: center;
}

.customCarousel .carousel-item {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .carouselContainer {
    margin-top: 45%;
  }
}
