.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 1200px;
  margin: 2rem auto;
}

.header {
  flex: 1;
  text-align: left;
  padding-right: 2rem;
}

.mainTitle {
  font-size: 2rem;
  font-weight: 900;
  color: #316fd8;
  line-height: 1.2;
  text-transform: uppercase;
}

.highlight {
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  margin-top: 0.5rem;
  color: #103182;
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  color: #103182;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.image {
  width: 50%;
}

.listItem {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.5;
}