/* ***************** register-user.module.css  ***************** */

.form {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  color: #1f90d2;
  font-weight: 600;
  letter-spacing: -1px;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
}

.input-group .btn {
  border-radius: 0 10px 10px 0;
  background-color: #1f90d2;
  color: #fff;
}

.input-group .btn:hover {
  background-color: rgb(56, 90, 194);
}

.submit {
  background-color: #1f90d2;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

.googleButton {
  background-color: #db4437; /* Cor original do Google */
  color: white;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Transição suave */
}

.googleButton:hover {
  background-color: #fff; /* Fundo branco ao passar o mouse */
  color: #db4437; /* Cor do texto ao passar o mouse */
}

.googleButton:hover .icon {
  color: #db4437; /* Cor do ícone do Google ao passar o mouse */
}

.githubButton {
  background-color: #333; /* Cor original do GitHub */
  color: white;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Transição suave */
}

.githubButton:hover {
  background-color: #fff; /* Fundo branco ao passar o mouse */
  color: #333; /* Cor do texto ao passar o mouse */
}

.githubButton:hover .icon {
  color: #333; /* Cor do ícone do GitHub ao passar o mouse */
}

.dividerText {
  background-color: #fff;
  padding: 0 10px;
  color: #888;
  font-size: 14px;
}

.signin {
  color: #888;
  font-size: 14px;
}

.signin a {
  color: #1f90d2;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.icon {
  font-size: 24px;
  transition: color 0.2s ease-in-out; /* Transição suave para ícones */
}
