/* ***************** cadastrar-usuario.module.css ***************** */

.form {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  color: #0075cd;
  font-weight: 600;
  letter-spacing: -1px;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
}

.input-group .btn {
  border-radius: 0 10px 10px 0;
  background-color: #0075cd;
  color: #fff;
}

.input-group .btn:hover {
  background-color: rgb(56, 90, 194);
}

.submit {
  background-color: #0075cd;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

.googleButton {
  background-color: #db4437;
  color: white;
  border-radius: 10px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.googleButton:hover {
  background-color: #fff;
  color: #db4437;
}

.googleButton:hover .icon {
  color: #db4437;
}

.githubButton {
  background-color: #333;
  color: white;
  border-radius: 10px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.githubButton:hover {
  background-color: #fff;
  color: #333;
}

.githubButton:hover .icon {
  color: #333;
}

.dividerText {
  background-color: #fff;
  padding: 0 10px;
  color: #888;
  font-size: 14px;
}

.signin {
  color: #888;
  font-size: 14px;
}

.signin a {
  color: #0075cd;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.icon {
  font-size: 24px;
  transition: color 0.2s ease-in-out;
}
