.container {
  max-width: 1200px;
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.5;
  text-align: start;
}

.header {
  position: absolute;
  top: -153px;
  left: 27%;
  transform: translateX(-50%);
  text-align: left;
  color: #103182;
  z-index: 10;
}

.mainTitle {
  font-size: 3.3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.subTitle {
  font-size: 3.3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.content {
  display: flex;
  gap: 2rem;
}

.divImage {
  width: 38%;
}

.image {
  height: 93%;
  border-radius: 10px;
}

.infoSection {
  flex: 1;
}

.list {
  list-style: none;
  padding-top: 55px;
  margin-left: 224px;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.listItem {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  cursor: pointer;
}

.icon {
  font-size: 1.8rem;
  color: #007bff;
}

.listItem strong {
  font-size: 1.6rem;
  color: #103182;
  font-weight: 900;
  text-transform: uppercase;
}

.listItem p {
  font-size: 1.1rem;
  color: #666;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modalContent {
  position: relative;
  padding: 1.5rem;
  border-radius: 8px;
  background: #fff;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  margin-left: 1rem;
}

.closeBtn:hover {
  color: #555;
}

.link {
  text-decoration: none;
  color: #007bff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  transition: transform 0.2s;
}

.link img {
  margin-bottom: 0.5rem;
  width: 48px;
  height: 48px;
}

.link p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.link:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
  .header {
    left: 31%;
  }
  .subTitle {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    top: -84px;
    left: 18%;
    text-align: left;
    padding-right: 0;
  }
  .mainTitle {
    font-size: 1.8rem;
  }
  .subTitle {
    font-size: 1.8rem;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .divImage, .list {
    width: 100%;
    margin-left: 0;
  }
  .image {
    height: auto;
    width: 100%;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .header {
    top: -71px;
    left: 35%;
  }
  .mainTitle {
    font-size: 1.8rem;
  }
  .subTitle {
    font-size: 1.8rem;
  }
  .listItem strong {
    font-size: 1rem;
  }
  .image {
    height: auto;
    width: 100%;
  }
}

/* Celular */
@media only screen and (max-width: 576px) {
  .container {
    padding: 0.8rem;
  }
  .mainTitle {
    font-size: 2rem;
  }
  .subTitle {
    font-size: 2rem;
  }
  .listItem strong {
    font-size: 1rem;
  }
  .image {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0.8rem;
  }
  .header {
    top: -50px;
    left: 35%;
  }
  .mainTitle {
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 1.1rem;
  }
  .listItem strong {
    font-size: 1rem;
  }
  .description {
    margin: 0px 35px;
  }
  .image {
    height: auto;
    width: 100%;
  }
}


@media only screen and (max-width: 339px) {
  .container {
    padding: 0.8rem;
  }
  .header {
    top: -36px;
    left: 36%;
  }
  .mainTitle {
    font-size: 1rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  .listItem strong {
    font-size: 0.9rem;
  }
  .listItem p {
    font-size: 0.8rem;

  }
  .description {
    margin: 0px 35px;
  }
  .image {
    height: auto;
    width: 100%;
  }
}
