.container {
    margin: 75px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: #103182;
}

.subtitle {
    margin: 25px 0;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    color: #103182;
}

.highlight {
    color: #316fd8;
    font-weight: 900;
}

.text {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 55px;
}

.buttonGroup {
    text-align: left;
}

.imageContainer {
    position: relative;
}

.bannerImage {
    width: 100%;
    height: auto;
    object-fit: cover;  /* To ensure the image covers the space properly */
    position: relative;
}

.btnPrimary {
    background-color: #316fd8;
    border-color: #316fd8;
}

.btnPrimary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btnSecondary {
    border: 3px solid #316fd8;
    color: #316fd8;
}

.btnSecondary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #ffffff;
}
